<!DOCTYPE html>
<!--Source: https://lovespreadsheets.medium.com/the-ultimate-guide-to-html-forms-4511592d8073 -->
<html>
    <head>
        <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
        <!--
        <script>
            function SubForm (){
                $.ajax({
                    url:'https://api.apispreadsheets.com/data/8344/',
                    type:'post',
                    data:$("#myForm").serializeArray(),
                    success: function(){
                    alert("Form Submitted Successfully!")
                    },
                    error: function(){
                    alert("Error: Form Not Submitted")
                    }
                });
            }
        </script>
        -->
        <script>
            var start = "";
            var end = "";
            var dist = "";
            var trans = "";
            var stops = "";
            function getVals(){
                start = document.getElementById("start_station").value;
                end = document.getElementById("end_station").value;
                dist = document.querySelector('.dist').checked;
                trans = document.querySelector('.trans').checked;
                stops = document.querySelector('.stops').checked;
            }
            function visitPage(){
                //call algorithm function
                var result ="";
                fetch('/background_process_test').then(function (response) {
                    return response.json();
                }).then(function (text) {
                    console.log('GET response:');
                    console.log(text.greeting);
                    window.location = "results?" + "s=" + start + "&e=" + end + "&d=" + dist + "&t=" + trans + "&st=" + stops + "&res=" + text.greeting;
                });
                // $.getJSON('/background_process_test', function(data) {
                //     console.log(data)
                // });
                //console.log(results.data);
                
            }
        </script>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
            body{
                text-align: center;
                background-color: #FA8BFF;
                background-image: url("../static/images/tokyo.jpg");
                opacity: 0.97;
                font-size: 18px;
                font-family: 'Roboto', sans-serif;
            }
            input{
                border-top: 1px;
                border-left: none;
                border-right:none;
            }
            #form{
                background-color: white;
                margin: 50px 350px 100px 350px;
                padding: 40px 0 100px 0;
                border-radius: 10px;
                width: auto;
                height: auto;
            }
            button{
                background-color: #4f5652;
                border:none;
                color: white;
                padding:20px 0 20px 0;
                border-radius: 20px;
                width:75%;
                height:75%;
                text-align: center;
                font-size:25px;
            }

            button:hover{
                background-color: #2BFF88;

            }
            .writeInInputs{
                padding-top:10px;   
            }
            .writeInInputs input{
                width:75%;
                border-top: 1px;
                border-left: none;
                border-right:none;
                padding:15px;
                text-align: left;
            

            }

            .writeInInputs h3{
            text-align:left;
            padding-left:12%;

            }
            .writeInInputs textarea{
                width: 75%;
                border-top: 1px;
                border-left: none;
                border-right:none;
                padding-top:10px;   
            }
            #buttonBreak{
                padding:75px;

            }
            .chooseInput{
                text-align: left;
                padding-left:12%;
                padding-top:10px;
            }
            select{
                width:50%;
                height:50px;
                background-color:whitesmoke;
                border-radius:5px;
                padding:5px;
                border:none;
            }
            header {
                color: rgb(255, 255, 255);
                background-color: rgb(0, 0, 0);
                padding: 10px 10px 40px 10px;
                opacity: .8;
                font-size: 20px;
            }
        </style>
    </head>
    <body>
        <header>
            <h1 class="title">Tokyo Metro Path Optimization</h1>
        </header>
        <div id="form">
            <form id="myForm" action="javascript:void(0)">
                <h2><label>Input Route Preferences</label></h2>
                <div class="chooseInput">
                    <h3><label>Starting Station </label></h3>
                    <select id="start_station" name="start_station"> 
                        <option value="disabled selected" >Select A Station</option>

                        <option disabled="true" >Asakusa Line</option>
                        <option value="A01">Nishi-magome</option>
                        <option value="A02">Magome</option>
                        <option value="A03">Nakanobu</option>
                        <option value="A04">Togoshi</option>
                        <option value="A05">Gotanda</option>
                        <option value="A06">Takanawadai</option>
                        <option value="A07">Sengakuji</option>
                        <option value="A08">Mita</option>
                        <option value="A09">Daimon</option>
                        <option value="A10">Shimbashi</option>
                        <option value="A11">Higashi-ginza</option>
                        <option value="A12">Takaracho</option>
                        <option value="A13">Nihombashi</option>
                        <option value="A14">Ningyocho</option>
                        <option value="A15">Higashi-nihombash</option>
                        <option value="A16">Asakusabashi</option>
                        <option value="A17">Kuramae</option>
                        <option value="A18">Asakusa</option>
                        <option value="A19">Honjo-azumabashi</option>
                        <option value="A20">Oshiage</option>

                        <option disabled="true" >Chiyoda Line</option>
                        <option value="C01">Yoyogi-uehara</option>
                        <option value="C02">Yoyogi-koen</option>
                        <option value="C03">Meiji-jingumae</option>
                        <option value="C04">Omote-sando</option>
                        <option value="C05">Nogizaka</option>
                        <option value="C06">Akasaka</option>
                        <option value="C07">Kokkai-gijidomae</option>
                        <option value="C08">Kasumigaseki</option>
                        <option value="C09">Hibiya</option>
                        <option value="C10">Nijubashimae &lt;Marunouchi&gt;</option>
                        <option value="C11">Otemachi</option>
                        <option value="C12">Shin-ochanomizu</option>
                        <option value="C13">Yushima</option>
                        <option value="C14">Nezu</option>
                        <option value="C15">Sendagi</option>
                        <option value="C16">Nishi-nippori</option>
                        <option value="C17">Machiya</option>
                        <option value="C18">Kita-senju</option>
                        <option value="C19">Ayase</option>
                        <option value="C20">Kita-Ayase</option>

                        <option disabled="true" >Toei Oedo Line</option>
                        <option value="E01">Shinjuku-nishiguchi</option>
                        <option value="E02">Higashi-shinjuku</option>
                        <option value="E03">Wakamatsu-kawada</option>
                        <option value="E04">Ushigome-yanagicho</option>
                        <option value="E05">Ushigome-kagurazaka</option>
                        <option value="E06">Iidabashi</option>
                        <option value="E07">Kasuga</option>
                        <option value="E08">Hongo-sanchome</option>
                        <option value="E09">Ueno-okachimachi</option>
                        <option value="E10">Shin-okachimachi</option>
                        <option value="E11">Kuramae</option>
                        <option value="E12">Ryogoku</option>
                        <option value="E13">Morishita</option>
                        <option value="E14">Kiyosumi-shirakawa</option>
                        <option value="E15">Monzen-nakacho</option>
                        <option value="E16">Tsukishima</option>
                        <option value="E17">Kachidoki</option>
                        <option value="E18">Tsukijishijo</option>
                        <option value="E19">Shiodome</option>
                        <option value="E20">Daimon</option>
                        <option value="E21">Akabanebashi</option>
                        <option value="E22">Azabu-juban</option>
                        <option value="E23">Roppongi</option>
                        <option value="E24">Aoyama-itchome</option>
                        <option value="E25">Kokuritsu-Kyogijo</option>
                        <option value="E26">Yoyogi</option>
                        <option value="E27">Shinjuku</option>
                        <option value="E28">Tochomae</option>
                        <option value="E29">Nishi-shinjuku-gochome</option>
                        <option value="E30">Nakano-sakaue</option>
                        <option value="E31">Higashi-Nakano</option>
                        <option value="E32">Nakai</option>
                        <option value="E33">Ochiai-minami-nagasaki</option>
                        <option value="E34">Shin-egota</option>
                        <option value="E35">Nerima</option>
                        <option value="E36">Toshimaen</option>
                        <option value="E37">Nerima-kasugacho</option>
                        <option value="E38">Hikarigaoka</option>

                        <option disabled="true" >Fukutoshin Line</option>
                        <option value="F01">Wakoshi</option>
                        <option value="F02">Chikatetsu-narimasu</option>
                        <option value="F03">Chikatetsu-akatsuka</option>
                        <option value="F04">Heiwadai</option>
                        <option value="F05">Hikawadai</option>
                        <option value="F06">Kotake-mukaihara</option>
                        <option value="F07">Senkawa</option>
                        <option value="F08">Kanamecho</option>
                        <option value="F09">Ikebukuro</option>
                        <option value="F10">Zoshigaya</option>
                        <option value="F11">Nishi-waseda</option>
                        <option value="F12">Higashi-shinjuku</option>
                        <option value="F13">Shinjuku-sanchome</option>
                        <option value="F14">Kita-sando</option>
                        <option value="F15">Meiji-jingumae&lt;Harajuku&gt;</option>
                        <option value="F16">Shibuya</option>

                        <option disabled="true" >Ginza Line</option>
                        <option value="G01">Shibuya</option>
                        <option value="G02">Omote-sando</option>
                        <option value="G03">Gaiemmae</option>
                        <option value="G04">Aoyama-itchome</option>
                        <option value="G05">Akasaka-mitsuke</option>
                        <option value="G06">Tameike-sanno</option>
                        <option value="G07">Toranomon</option>
                        <option value="G08">Shimbashi</option>
                        <option value="G09">Ginza</option>
                        <option value="G10">Kyobashi</option>
                        <option value="G11">Nihombashi</option>
                        <option value="G12">Mitsukoshimae</option>
                        <option value="G13">Kanda</option>
                        <option value="G14">Suehirocho</option>
                        <option value="G15">Ueno-hirokoji</option>
                        <option value="G16">Ueno</option>
                        <option value="G17">Inaricho</option>
                        <option value="G18">Tawaramachi</option>
                        <option value="G19">Asakusa</option>

                        <option disabled="true" >Hibiya Line</option>
                        <option value="H01">Naka-meguro</option>
                        <option value="H02">Ebisu</option>
                        <option value="H03">Hiro-o</option>
                        <option value="H04">Roppongi</option>
                        <option value="H05">Kamiyacho</option>
                        <option value="H06">Toranomon-hills</option>
                        <option value="H07">Kasumigaseki</option>
                        <option value="H08">Hibiya</option>
                        <option value="H09">Ginza</option>
                        <option value="H10">Higashi-ginza</option>
                        <option value="H11">Tsukiji</option>
                        <option value="H12">Hatchobori</option>
                        <option value="H13">Kayabacho</option>
                        <option value="H14">Ningyocho</option>
                        <option value="H15">Kodemmacho</option>
                        <option value="H16">Akihabara</option>
                        <option value="H17">Naka-okachimachi</option>
                        <option value="H18">Ueno</option>
                        <option value="H19">Iriya</option>
                        <option value="H20">Minowa</option>
                        <option value="H21">Minami-senju</option>
                        <option value="H22">Kita-senju</option>

                        <option disabled="true" >Mita Line</option>
                        <option value="I01">Meguro</option>
                        <option value="I02">Shirokanedai</option>
                        <option value="I03">Shirokane-takanawa</option>
                        <option value="I04">Mita</option>
                        <option value="I05">Shibakoen</option>
                        <option value="I06">Onarimon</option>
                        <option value="I07">Uchisaiwaicho</option>
                        <option value="I08">Hibiya</option>
                        <option value="I09">Otemachi</option>
                        <option value="I10">Jimbocho</option>
                        <option value="I11">Suidobashi</option>
                        <option value="I12">Kasuga</option>
                        <option value="I13">Hakusan</option>
                        <option value="I14">Sengoku</option>
                        <option value="I15">Sugamo</option>
                        <option value="I16">Nishi-sugamo</option>
                        <option value="I17">Shin-itabashi</option>
                        <option value="I18">Itabashikuyakushomae</option>
                        <option value="I19">Itabashihoncho</option>
                        <option value="I20">Motohasunuma</option>
                        <option value="I21">Shimura-sakaue</option>
                        <option value="I22">Shimura-sanchome</option>
                        <option value="I23">Hasune</option>
                        <option value="I24">Nishidai</option>
                        <option value="I25">Takashimadaira</option>
                        <option value="I26">Shin-takashimadaira</option>
                        <option value="I27">Nishi-takashimadaira</option>

                        <option disabled="true" >Marunouchi Line</option>
                        <option value="M01">Ogikubo</option>
                        <option value="M02">Minami-asagaya</option>
                        <option value="M03">Sin-koenji</option>
                        <option value="M04">Higashi-koenji</option>
                        <option value="M05">Shin-nakano</option>
                        <option value="M06">Nakano-sakaue</option>
                        <option value="M07">Nishi-shinjuku</option>
                        <option value="M08">Shinjuku-nishiguchi</option>
                        <option value="M09">Shinjuku-sanchome</option>
                        <option value="M10">Shinjuku-gyoemmae</option>
                        <option value="M11">Yotsuya-sanchome</option>
                        <option value="M12">Yotasuya</option>
                        <option value="M13">Akasaka-mutsuke</option>
                        <option value="M14">Kokki-gijidomae</option>
                        <option value="M15">Kasumigaseki</option>
                        <option value="M16">Ginza</option>
                        <option value="M17">Tokyo</option>
                        <option value="M18">Otemachi</option>
                        <option value="M19">Awajicho</option>
                        <option value="M20">Ochanomizu</option>
                        <option value="M21">Hongo-sanchome</option>
                        <option value="M22">Korakuen</option>
                        <option value="M23">Myogadani</option>
                        <option value="M24">Shin-otsuka</option>
                        <option value="M25">Ikebukuro</option>

                        <option disabled="true" >Marunouchi Line Branch Line</option>
                        <option value="Mb03">Nonancho</option>
                        <option value="Mb04">Nakano-fujimicho</option>
                        <option value="Mb05">Nakano-shimbashi</option>

                        <option disabled="true" >Namboku Line</option>
                        <option value="N01">Meguro</option>
                        <option value="N02">Shirokanedai</option>
                        <option value="N03">Shirokane-takanawa</option>
                        <option value="N04">Azabu-juban</option>
                        <option value="N05">Roppongi-itchome</option>
                        <option value="N06">Tameike-sanno</option>
                        <option value="N07">Nagatacho</option>
                        <option value="N08">Yotsuya</option>
                        <option value="N09">Ichigaya</option>
                        <option value="N10">Iidabashi</option>
                        <option value="N11">Korakuen</option>
                        <option value="N12">Todaimae</option>
                        <option value="N13">Hon-komagome</option>
                        <option value="N14">Komagome</option>
                        <option value="N15">Nishigahara</option>
                        <option value="N16">Oji</option>
                        <option value="N17">Oji-kamiya</option>
                        <option value="N18">Shimo</option>
                        <option value="N19">Akabane-iwabuchi</option>

                        <option disabled="true" >Shinjuku Line</option>
                        <option value="S01">Shinjuku</option>
                        <option value="S02">Shinjuku-sanchome</option>
                        <option value="S03">Akebonobashi</option>
                        <option value="S04">Ichigaya</option>
                        <option value="S05">Kudanshita</option>
                        <option value="S06">Jimbocho</option>
                        <option value="S07">Ogawamachi</option>
                        <option value="S08">Iwamotocho</option>
                        <option value="S09">Bakuro-yokoyama</option>
                        <option value="S10">Hamacho</option>
                        <option value="S11">Morishita</option>
                        <option value="S12">Kikukawa</option>
                        <option value="S13">Sumiyoshi</option>
                        <option value="S14">Nishi-ojima</option>
                        <option value="S15">Ojima</option>
                        <option value="S16">Higashi-ojima</option>
                        <option value="S17">Funabori</option>
                        <option value="S18">Ichinoe</option>
                        <option value="S19">Mizue</option>
                        <option value="S20">Shinozaki</option>
                        <option value="S21">Motoyawata</option>
                        
                        <option disabled="true" >Tozai Line</option>
                        <option value="T01">Nakano</option>
                        <option value="T02">Ochiai</option>
                        <option value="T03">Takadanobaba</option>
                        <option value="T04">Waseda</option>
                        <option value="T05">Kagurazaka</option>
                        <option value="T06">Iidabashi</option>
                        <option value="T07">Kudanshita</option>
                        <option value="T08">Takebashi</option>
                        <option value="T09">Otemachi</option>
                        <option value="T10">Nihombashi</option>
                        <option value="T11">Kayabacho</option>
                        <option value="T12">Monzen-nakacho</option>
                        <option value="T13">Kiba</option>
                        <option value="T14">Toyocho</option>
                        <option value="T15">Minami-sunamachi</option>
                        <option value="T16">Nishi-kasai</option>
                        <option value="T17">Kasai</option>
                        <option value="T18">Urayasu</option>
                        <option value="T19">Minami-gyotoku</option>
                        <option value="T20">Gyotoku</option>
                        <option value="T21">Myoden</option>
                        <option value="T22">Baraki-nakayama</option>
                        <option value="T23">Nishi-funabashi</option>

                        <option disabled="true" >Yurakucho Line</option>
                        <option value="Y01">Wakoshi</option>
                        <option value="Y02">Chikatetsu-narimasu</option>
                        <option value="Y03">Chikatetsu-akatsuka</option>
                        <option value="Y04">Heiwadai</option>
                        <option value="Y05">Hikawadai</option>
                        <option value="Y06">Kotake-mukaihara</option>
                        <option value="Y07">Senkawa</option>
                        <option value="Y08">Kanamecho</option>
                        <option value="Y09">Ikebukuro</option>
                        <option value="Y10">Higashi-ikebukuro</option>
                        <option value="Y11">Gokokuji</option>
                        <option value="Y12">Edogawabashi</option>
                        <option value="Y13">Iidabashi</option>
                        <option value="Y14">Ichigaya</option>
                        <option value="Y15">Kojimachi</option>
                        <option value="Y16">Nagatacho</option>
                        <option value="Y17">Sakuradamon</option>
                        <option value="Y18">Yurakucho</option>
                        <option value="Y19">Ginza-itchome</option>
                        <option value="Y20">Shintomicho</option>
                        <option value="Y21">Tsukishima</option>
                        <option value="Y22">Toyosu</option>
                        <option value="Y23">Tatsumi</option>
                        <option value="Y24">Shin-kiba</option>

                        <option disabled="true" >Hanzomon Line</option>
                        <option value="Z01">Shibuya</option>
                        <option value="Z02">Omote-sando</option>
                        <option value="Z03">Aoyama-itchome</option>
                        <option value="Z04">Nagatacho</option>
                        <option value="Z05">Hanzomon</option>
                        <option value="Z06">Kudanshita</option>
                        <option value="Z07">Jimbocho</option>
                        <option value="Z08">Otemachi</option>
                        <option value="Z09">Mitsukoshimae</option>
                        <option value="Z10">Suitengumae</option>
                        <option value="Z11">Kiyosumi-shirakawa</option>
                        <option value="Z12">Sumiyoshi</option>
                        <option value="Z13">Kinshicho</option>
                        <option value="Z14">Oshiage&lt;SKYTREE&gt;</option>
                    </select>
                    <br/>
                </div>

                <div class="chooseInput">
                    <h3><label>Ending Station </label></h3>
                    <select id="end_station" name="end_station"> 
                        <option value="disabled selected" >Select A Station</option>

                        <option disabled="true" >Asakusa Line</option>
                        <option value="A01">Nishi-magome</option>
                        <option value="A02">Magome</option>
                        <option value="A03">Nakanobu</option>
                        <option value="A04">Togoshi</option>
                        <option value="A05">Gotanda</option>
                        <option value="A06">Takanawadai</option>
                        <option value="A07">Sengakuji</option>
                        <option value="A08">Mita</option>
                        <option value="A09">Daimon</option>
                        <option value="A10">Shimbashi</option>
                        <option value="A11">Higashi-ginza</option>
                        <option value="A12">Takaracho</option>
                        <option value="A13">Nihombashi</option>
                        <option value="A14">Ningyocho</option>
                        <option value="A15">Higashi-nihombash</option>
                        <option value="A16">Asakusabashi</option>
                        <option value="A17">Kuramae</option>
                        <option value="A18">Asakusa</option>
                        <option value="A19">Honjo-azumabashi</option>
                        <option value="A20">Oshiage</option>

                        <option disabled="true" >Chiyoda Line</option>
                        <option value="C01">Yoyogi-uehara</option>
                        <option value="C02">Yoyogi-koen</option>
                        <option value="C03">Meiji-jingumae</option>
                        <option value="C04">Omote-sando</option>
                        <option value="C05">Nogizaka</option>
                        <option value="C06">Akasaka</option>
                        <option value="C07">Kokkai-gijidomae</option>
                        <option value="C08">Kasumigaseki</option>
                        <option value="C09">Hibiya</option>
                        <option value="C10">Nijubashimae &lt;Marunouchi&gt;</option>
                        <option value="C11">Otemachi</option>
                        <option value="C12">Shin-ochanomizu</option>
                        <option value="C13">Yushima</option>
                        <option value="C14">Nezu</option>
                        <option value="C15">Sendagi</option>
                        <option value="C16">Nishi-nippori</option>
                        <option value="C17">Machiya</option>
                        <option value="C18">Kita-senju</option>
                        <option value="C19">Ayase</option>
                        <option value="C20">Kita-Ayase</option>

                        <option disabled="true" >Toei Oedo Line</option>
                        <option value="E01">Shinjuku-nishiguchi</option>
                        <option value="E02">Higashi-shinjuku</option>
                        <option value="E03">Wakamatsu-kawada</option>
                        <option value="E04">Ushigome-yanagicho</option>
                        <option value="E05">Ushigome-kagurazaka</option>
                        <option value="E06">Iidabashi</option>
                        <option value="E07">Kasuga</option>
                        <option value="E08">Hongo-sanchome</option>
                        <option value="E09">Ueno-okachimachi</option>
                        <option value="E10">Shin-okachimachi</option>
                        <option value="E11">Kuramae</option>
                        <option value="E12">Ryogoku</option>
                        <option value="E13">Morishita</option>
                        <option value="E14">Kiyosumi-shirakawa</option>
                        <option value="E15">Monzen-nakacho</option>
                        <option value="E16">Tsukishima</option>
                        <option value="E17">Kachidoki</option>
                        <option value="E18">Tsukijishijo</option>
                        <option value="E19">Shiodome</option>
                        <option value="E20">Daimon</option>
                        <option value="E21">Akabanebashi</option>
                        <option value="E22">Azabu-juban</option>
                        <option value="E23">Roppongi</option>
                        <option value="E24">Aoyama-itchome</option>
                        <option value="E25">Kokuritsu-Kyogijo</option>
                        <option value="E26">Yoyogi</option>
                        <option value="E27">Shinjuku</option>
                        <option value="E28">Tochomae</option>
                        <option value="E29">Nishi-shinjuku-gochome</option>
                        <option value="E30">Nakano-sakaue</option>
                        <option value="E31">Higashi-Nakano</option>
                        <option value="E32">Nakai</option>
                        <option value="E33">Ochiai-minami-nagasaki</option>
                        <option value="E34">Shin-egota</option>
                        <option value="E35">Nerima</option>
                        <option value="E36">Toshimaen</option>
                        <option value="E37">Nerima-kasugacho</option>
                        <option value="E38">Hikarigaoka</option>

                        <option disabled="true" >Fukutoshin Line</option>
                        <option value="F01">Wakoshi</option>
                        <option value="F02">Chikatetsu-narimasu</option>
                        <option value="F03">Chikatetsu-akatsuka</option>
                        <option value="F04">Heiwadai</option>
                        <option value="F05">Hikawadai</option>
                        <option value="F06">Kotake-mukaihara</option>
                        <option value="F07">Senkawa</option>
                        <option value="F08">Kanamecho</option>
                        <option value="F09">Ikebukuro</option>
                        <option value="F10">Zoshigaya</option>
                        <option value="F11">Nishi-waseda</option>
                        <option value="F12">Higashi-shinjuku</option>
                        <option value="F13">Shinjuku-sanchome</option>
                        <option value="F14">Kita-sando</option>
                        <option value="F15">Meiji-jingumae&lt;Harajuku&gt;</option>
                        <option value="F16">Shibuya</option>

                        <option disabled="true" >Ginza Line</option>
                        <option value="G01">Shibuya</option>
                        <option value="G02">Omote-sando</option>
                        <option value="G03">Gaiemmae</option>
                        <option value="G04">Aoyama-itchome</option>
                        <option value="G05">Akasaka-mitsuke</option>
                        <option value="G06">Tameike-sanno</option>
                        <option value="G07">Toranomon</option>
                        <option value="G08">Shimbashi</option>
                        <option value="G09">Ginza</option>
                        <option value="G10">Kyobashi</option>
                        <option value="G11">Nihombashi</option>
                        <option value="G12">Mitsukoshimae</option>
                        <option value="G13">Kanda</option>
                        <option value="G14">Suehirocho</option>
                        <option value="G15">Ueno-hirokoji</option>
                        <option value="G16">Ueno</option>
                        <option value="G17">Inaricho</option>
                        <option value="G18">Tawaramachi</option>
                        <option value="G19">Asakusa</option>

                        <option disabled="true" >Hibiya Line</option>
                        <option value="H01">Naka-meguro</option>
                        <option value="H02">Ebisu</option>
                        <option value="H03">Hiro-o</option>
                        <option value="H04">Roppongi</option>
                        <option value="H05">Kamiyacho</option>
                        <option value="H06">Toranomon-hills</option>
                        <option value="H07">Kasumigaseki</option>
                        <option value="H08">Hibiya</option>
                        <option value="H09">Ginza</option>
                        <option value="H10">Higashi-ginza</option>
                        <option value="H11">Tsukiji</option>
                        <option value="H12">Hatchobori</option>
                        <option value="H13">Kayabacho</option>
                        <option value="H14">Ningyocho</option>
                        <option value="H15">Kodemmacho</option>
                        <option value="H16">Akihabara</option>
                        <option value="H17">Naka-okachimachi</option>
                        <option value="H18">Ueno</option>
                        <option value="H19">Iriya</option>
                        <option value="H20">Minowa</option>
                        <option value="H21">Minami-senju</option>
                        <option value="H22">Kita-senju</option>

                        <option disabled="true" >Mita Line</option>
                        <option value="I01">Meguro</option>
                        <option value="I02">Shirokanedai</option>
                        <option value="I03">Shirokane-takanawa</option>
                        <option value="I04">Mita</option>
                        <option value="I05">Shibakoen</option>
                        <option value="I06">Onarimon</option>
                        <option value="I07">Uchisaiwaicho</option>
                        <option value="I08">Hibiya</option>
                        <option value="I09">Otemachi</option>
                        <option value="I10">Jimbocho</option>
                        <option value="I11">Suidobashi</option>
                        <option value="I12">Kasuga</option>
                        <option value="I13">Hakusan</option>
                        <option value="I14">Sengoku</option>
                        <option value="I15">Sugamo</option>
                        <option value="I16">Nishi-sugamo</option>
                        <option value="I17">Shin-itabashi</option>
                        <option value="I18">Itabashikuyakushomae</option>
                        <option value="I19">Itabashihoncho</option>
                        <option value="I20">Motohasunuma</option>
                        <option value="I21">Shimura-sakaue</option>
                        <option value="I22">Shimura-sanchome</option>
                        <option value="I23">Hasune</option>
                        <option value="I24">Nishidai</option>
                        <option value="I25">Takashimadaira</option>
                        <option value="I26">Shin-takashimadaira</option>
                        <option value="I27">Nishi-takashimadaira</option>

                        <option disabled="true" >Marunouchi Line</option>
                        <option value="M01">Ogikubo</option>
                        <option value="M02">Minami-asagaya</option>
                        <option value="M03">Sin-koenji</option>
                        <option value="M04">Higashi-koenji</option>
                        <option value="M05">Shin-nakano</option>
                        <option value="M06">Nakano-sakaue</option>
                        <option value="M07">Nishi-shinjuku</option>
                        <option value="M08">Shinjuku-nishiguchi</option>
                        <option value="M09">Shinjuku-sanchome</option>
                        <option value="M10">Shinjuku-gyoemmae</option>
                        <option value="M11">Yotsuya-sanchome</option>
                        <option value="M12">Yotasuya</option>
                        <option value="M13">Akasaka-mutsuke</option>
                        <option value="M14">Kokki-gijidomae</option>
                        <option value="M15">Kasumigaseki</option>
                        <option value="M16">Ginza</option>
                        <option value="M17">Tokyo</option>
                        <option value="M18">Otemachi</option>
                        <option value="M19">Awajicho</option>
                        <option value="M20">Ochanomizu</option>
                        <option value="M21">Hongo-sanchome</option>
                        <option value="M22">Korakuen</option>
                        <option value="M23">Myogadani</option>
                        <option value="M24">Shin-otsuka</option>
                        <option value="M25">Ikebukuro</option>

                        <option disabled="true" >Marunouchi Line Branch Line</option>
                        <option value="Mb03">Nonancho</option>
                        <option value="Mb04">Nakano-fujimicho</option>
                        <option value="Mb05">Nakano-shimbashi</option>

                        <option disabled="true" >Namboku Line</option>
                        <option value="N01">Meguro</option>
                        <option value="N02">Shirokanedai</option>
                        <option value="N03">Shirokane-takanawa</option>
                        <option value="N04">Azabu-juban</option>
                        <option value="N05">Roppongi-itchome</option>
                        <option value="N06">Tameike-sanno</option>
                        <option value="N07">Nagatacho</option>
                        <option value="N08">Yotsuya</option>
                        <option value="N09">Ichigaya</option>
                        <option value="N10">Iidabashi</option>
                        <option value="N11">Korakuen</option>
                        <option value="N12">Todaimae</option>
                        <option value="N13">Hon-komagome</option>
                        <option value="N14">Komagome</option>
                        <option value="N15">Nishigahara</option>
                        <option value="N16">Oji</option>
                        <option value="N17">Oji-kamiya</option>
                        <option value="N18">Shimo</option>
                        <option value="N19">Akabane-iwabuchi</option>

                        <option disabled="true" >Shinjuku Line</option>
                        <option value="S01">Shinjuku</option>
                        <option value="S02">Shinjuku-sanchome</option>
                        <option value="S03">Akebonobashi</option>
                        <option value="S04">Ichigaya</option>
                        <option value="S05">Kudanshita</option>
                        <option value="S06">Jimbocho</option>
                        <option value="S07">Ogawamachi</option>
                        <option value="S08">Iwamotocho</option>
                        <option value="S09">Bakuro-yokoyama</option>
                        <option value="S10">Hamacho</option>
                        <option value="S11">Morishita</option>
                        <option value="S12">Kikukawa</option>
                        <option value="S13">Sumiyoshi</option>
                        <option value="S14">Nishi-ojima</option>
                        <option value="S15">Ojima</option>
                        <option value="S16">Higashi-ojima</option>
                        <option value="S17">Funabori</option>
                        <option value="S18">Ichinoe</option>
                        <option value="S19">Mizue</option>
                        <option value="S20">Shinozaki</option>
                        <option value="S21">Motoyawata</option>
                        
                        <option disabled="true" >Tozai Line</option>
                        <option value="T01">Nakano</option>
                        <option value="T02">Ochiai</option>
                        <option value="T03">Takadanobaba</option>
                        <option value="T04">Waseda</option>
                        <option value="T05">Kagurazaka</option>
                        <option value="T06">Iidabashi</option>
                        <option value="T07">Kudanshita</option>
                        <option value="T08">Takebashi</option>
                        <option value="T09">Otemachi</option>
                        <option value="T10">Nihombashi</option>
                        <option value="T11">Kayabacho</option>
                        <option value="T12">Monzen-nakacho</option>
                        <option value="T13">Kiba</option>
                        <option value="T14">Toyocho</option>
                        <option value="T15">Minami-sunamachi</option>
                        <option value="T16">Nishi-kasai</option>
                        <option value="T17">Kasai</option>
                        <option value="T18">Urayasu</option>
                        <option value="T19">Minami-gyotoku</option>
                        <option value="T20">Gyotoku</option>
                        <option value="T21">Myoden</option>
                        <option value="T22">Baraki-nakayama</option>
                        <option value="T23">Nishi-funabashi</option>

                        <option disabled="true" >Yurakucho Line</option>
                        <option value="Y01">Wakoshi</option>
                        <option value="Y02">Chikatetsu-narimasu</option>
                        <option value="Y03">Chikatetsu-akatsuka</option>
                        <option value="Y04">Heiwadai</option>
                        <option value="Y05">Hikawadai</option>
                        <option value="Y06">Kotake-mukaihara</option>
                        <option value="Y07">Senkawa</option>
                        <option value="Y08">Kanamecho</option>
                        <option value="Y09">Ikebukuro</option>
                        <option value="Y10">Higashi-ikebukuro</option>
                        <option value="Y11">Gokokuji</option>
                        <option value="Y12">Edogawabashi</option>
                        <option value="Y13">Iidabashi</option>
                        <option value="Y14">Ichigaya</option>
                        <option value="Y15">Kojimachi</option>
                        <option value="Y16">Nagatacho</option>
                        <option value="Y17">Sakuradamon</option>
                        <option value="Y18">Yurakucho</option>
                        <option value="Y19">Ginza-itchome</option>
                        <option value="Y20">Shintomicho</option>
                        <option value="Y21">Tsukishima</option>
                        <option value="Y22">Toyosu</option>
                        <option value="Y23">Tatsumi</option>
                        <option value="Y24">Shin-kiba</option>

                        <option disabled="true" >Hanzomon Line</option>
                        <option value="Z01">Shibuya</option>
                        <option value="Z02">Omote-sando</option>
                        <option value="Z03">Aoyama-itchome</option>
                        <option value="Z04">Nagatacho</option>
                        <option value="Z05">Hanzomon</option>
                        <option value="Z06">Kudanshita</option>
                        <option value="Z07">Jimbocho</option>
                        <option value="Z08">Otemachi</option>
                        <option value="Z09">Mitsukoshimae</option>
                        <option value="Z10">Suitengumae</option>
                        <option value="Z11">Kiyosumi-shirakawa</option>
                        <option value="Z12">Sumiyoshi</option>
                        <option value="Z13">Kinshicho</option>
                        <option value="Z14">Oshiage&lt;SKYTREE&gt;</option>
                    </select>
                    <br/>
                </div>
                <div class="chooseInput">
                    <h3><label>Preferences</label></h3>
                    <input type="checkbox" id="dist" name="dist" class = "dist" value="distance"/> Least Distance<br/>
                    <input type="checkbox" id="trans" name="trans" class = "trans" value="transfers" /> Least numbers of transfers <br/>
                    <input type="checkbox" id="stops" name="stops" class = "stops" value="stops" /> Least number of stops<br/>
                </div>
            </form>
            <div id="buttonBreak">
                <button onclick = "getVals(); visitPage()"> Find A Route </button>
            </div>
        </div>
    </body>
</html>