<!DOCTYPE html>
<!--Source for design elements: https://www.w3schools.com/w3css/w3css_templates.asp-->
<html>
    <head>
        <title>Tokyo Metro Optimization</title>
        <meta charset="UTF-8">
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <script src="https://d3js.org/topojson.v3.min.js"></script>    
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
            h5{
                font-size: 20px;
            }
            header {
                color: rgb(255, 255, 255);
                background-color: rgb(0, 0, 0);
                padding: 10px 10px 40px 10px;
                opacity: .8;
                font-size: 20px;
                text-align: center;
            }
            .tokyo {
                fill: #EEE;
                stroke: rgb(185, 181, 181);
                stroke-width: 1px;
            }
            .column{
                display:flex;
                flex-direction: row;
            }
        </style>
    </head>
    <body class="w3-light-grey">
        <header>
            <h1 class="title">Tokyo Metro Path Optimization</h1>
        </header>

        <!-- !PAGE CONTENT! -->
        <div class="w3-main" style="margin-top:43px;">

            <!-- Header -->
            <div class="w3-container" style="padding-top:22px">
                <h2><b><i class="fa fa-dashboard"></i> Reducing: </b></h2>
            </div>
            <div class="w3-panel">
            <div class="w3-row-padding w3-margin-bottom">
                <div class="w3-third">
                    <div class="w3-container w3-blue w3-padding-16" id = "dist">
                        <div class="w3-left"><i class="fa fa-map-o
                                w3-xxxlarge"></i></div>
                        <div class="w3-clear"></div>
                        <h4>Total Distance</h4>
                    </div>
                </div>
                <div class="w3-third">
                    <div class="w3-container w3-red w3-padding-16" id = "stops">
                        <div class="w3-left"><i class="fa fa-minus-circle w3-xxxlarge"></i></div>
                        <div class="w3-clear"></div>
                        <h4>Number of stops</h4>
                    </div>
                </div>
                <div class="w3-third">
                    <div class="w3-container w3-orange w3-padding-16" id = "transfers">
                        <div class="w3-left"><i class="fa fa-share-alt
                                w3-xxxlarge"></i></div>
                        <div class="w3-clear"></div>
                        <h4>Number of Transfers</h4>
                    </div>
                </div>
            </div>
        </div>
            <div class="w3-panel">
                <div class="w3-row-padding" style="margin:0 -16px">
                  
                  <div class="w3-twothird">
                    <h2>Regions</h2>
                    <div class = "column">
                        <p style="color: black; padding-right: 1ch;">Path: black</p>
                        <p style="color: #FF007F; padding-right: 1ch;">Asakusa Line: Rose</p>
                        <p style="color: blue; padding-right: 1ch;">Mita Line: Blue</p>
                        <p style="color: magenta; padding-right: 1ch;">Oedo Line: Magenta</p>
                        <p style="color: #3A5F0B; padding-right: 1ch;">Shinjuku Line: Leaf</p>
                        <p style="color: Orange; padding-right: 1ch;">Ginza Line: Orange</p>
                        <p style="color: red; padding-right: 1ch;">Marunouchi Line: Red</p>
                        <p style="color: silver; padding-right: 1ch;">Hibiya Line: Silver</p>
                        <p style="color: #87CEEB; padding-right: 1ch;">Tozai Line: Sky</p>
                        <p style="color: green; padding-right: 1ch;">Chiyoda Line: Green</p>
                        <p style="color: gold; padding-right: 1ch;">Yarakucho Line: Gold</p>
                        <p style="color: purple; padding-right: 1ch;">Hanzomon Line: Purple</p>
                        <p style="color: brown; padding-right: 1ch;">Fukutoshin Line: Brown</p>
                        <p style="color: #50C878; padding-right: 1ch;">Namboku Line: Emerald</p>
                    </div>
                    <svg id="tokyo" height="500" width="1500" style="margin:5px"></svg>
                        <script>
                            const map = d3.select("svg#tokyo");
                            let width = map.attr("width");
                            let height = map.attr("height");
                            let viewport = map.append("g");
                            const requestData = async function() {
                                
                                const data = await d3.json("../static/images/tokyo.geojson");
                                viewport.attr("transform", "translate(-7013, -62) scale(9.2)");
                                var projection = d3.geoMercator()
                                        .center([-1000, 60 ])
                                        .scale(500)
                                        .translate([width/2, height/2])

                                        .rotate([-180,0])
                                        .clipExtent([[800, 0],[900, 60]])
                                        .fitSize([width*2, height*4.5], data)
                                        ;
                                        
                                var path = d3.geoPath()
                                            .projection(projection);
                                let boroughs = viewport.selectAll("path.tokyo")
                                    .data(data.features)
                                    .enter().append("path")
                                    .attr("d", path)
                                    .attr("class", "tokyo");
                                var path = urlParams.get('path');
                                path = path.split(",");
                                fetch("/all_locations").then(function (response) {
                                    return response.json();
                                }).then(function (text) {
                                    locs = text.locations;
                                    for (const [key, value] of Object.entries(locs)) {
                                        locs[key]["special"] = 0.6;
                                        if (key[0] === "A"){
                                            locs[key]["color"] = "#FF007F";
                                        }
                                        else if (key[0] === "C"){
                                            locs[key]["color"] = "green";
                                        }
                                        else if (key[0] === "E"){
                                            locs[key]["color"] = "magenta";
                                        }
                                        else if (key[0] === "F"){
                                            locs[key]["color"] = "brown";
                                        }
                                        else if (key[0] === "G"){
                                            locs[key]["color"] = "orange";
                                        }
                                        else if (key[0] === "H"){
                                            locs[key]["color"] = "silver"
                                        }
                                        else if (key[0] === "I"){
                                            locs[key]["color"] = "blue"
                                        }
                                        else if (key[0] === "M"){
                                            locs[key]["color"] = "red"
                                        }
                                        else if (key[0] === "N"){
                                            locs[key]["color"] = "#50C878";
                                        }
                                        else if (key[0] === "S"){
                                            locs[key]["color"] = "#3A5F0B";
                                        }
                                        else if (key[0] === "T"){
                                            locs[key]["color"] = "#87CEEB";
                                        }
                                        else if (key[0] === "Y"){
                                            locs[key]["color"] = "gold";
                                        }
                                        else if (key[0] === "Z"){
                                            locs[key]["color"] = "purple";
                                        }
                                        else{
                                            console.log(key);
                                            locs[key]["color"] = "black";
                                        }
                                    }
                                    path.forEach(ele => {
                                        locs[ele]["special"] = 1;
                                        locs[ele]["color"] = "black";
                                    });
                                    viewport.selectAll("circle").data(Object.values(locs))
                                        .join("circle")
                                        .attr("r", d=> {if (d.special == 1){ return 1} else{ return 0.5}})
                                        .attr("fill", d=> d["color"])
                                        .attr("opacity", d => d.special)
                                        .attr("cx", d => projection( [Number(d.longitude), Number(d.latitude)])[0])
                                        .attr("cy", d => projection( [Number(d.longitude), Number(d.latitude)])[1]);
                                    });
                            }
                            requestData();
                        </script>
                  </div>
                  <div class="w3-third">
                    <div class="w3-container">
                        <h2>Stations Along The Path</h2>
                        <table class="w3-table w3-striped w3-bordered w3-border
                            w3-hoverable w3-white" id = "pathTable">
                            <tr>
                                <td>Number</td>
                                <td>Stop Name</td>
                                <td>Station ID</td>
                            </tr>
                        </table><br>
                        
                    </div>
                  </div>
                </div>
              </div>
              <h2>Feeds</h2>
                        <table class="w3-table w3-striped w3-white">
                            <tr id = "t_distance">
                                <td><i class="fa fa-map-o w3-text-blue w3-large"></i></td>
                                <td>Total Distance: </td>
                            </tr>
                            <tr id = "num_stops">
                                <td><i class="fa fa-minus-circle w3-text-red w3-large"></i></td>
                                <td>Number of stops: </td>
                            </tr>
                            <tr id = "num_transfers">
                                <td><i class="fa fa-share-alt w3-text-orange
                                        w3-large"></i></td>
                                <td>Number of transfers: </td>
                            </tr>
                            <tr id = "added_station">
                                <td><i class="fa fa-plus-square w3-text-green
                                        w3-large"></i></td>
                                <td>Add a new connection: </td>
                            </tr>

                        </table>
            <hr>

        <hr>
        <div class="w3-container" id = "stats">
            <h5>Stats</h5>
            <p>Adding a connection would decrease distance travelled by:</p>
            <div class="w3-grey" >
                <div class="w3-container w3-center w3-padding w3-green"
                id = "distance_improvement" ></div>
            </div>
        </div>
        <hr>
        <a href="/"><button class="w3-button w3-dark-grey ">New Path  <i
            class="fa fa-arrow-right"></i></button></a>
    </body>
    <script>
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const start_station = urlParams.get('s');
        const end_station = urlParams.get('e');
        const dist = urlParams.get('d');
        //console.log(dist);
        const trans = urlParams.get('t');
        const stops = urlParams.get('st');
        var path = urlParams.get('path');
        var count = 1;
        
        var table = document.getElementById('pathTable');
        path = path.split(",");
        async function path_information(ele) {

                const response = await fetch('/get_name?curr=' + ele);
                const name = await response.json();
                return name;
        }
        path.forEach(ele => {
            path_information(ele).then(curr =>{
                const name = curr.curr;
                var newRow = table.insertRow();
                var countCell = newRow.insertCell();
                var countText = document.createTextNode(String(count));
                count +=1;
                countCell.appendChild(countText);
                var newCell = newRow.insertCell();
                var newText = document.createTextNode(name)
                newCell.appendChild(newText);
                var stationIDcell = newRow.insertCell()
                var stationIDText = document.createTextNode(ele)
                stationIDcell.appendChild(stationIDText);
            })
        });
        var dist_div = document.getElementById( 'dist' );
        var transfers_div = document.getElementById( 'transfers' );
        var stops_div = document.getElementById( 'stops' );
        var stats_div = document.getElementById( 'stats');
        
        const distance = urlParams.get('distance');
        const transfers = urlParams.get('transfers');
        const stops_2 = path.length;
        const added = urlParams.get('added');
        const percent = urlParams.get('percent');
        
        var dist_row = document.getElementById('t_distance');
        var distcell = dist_row.insertCell();
        var distText = document.createTextNode(distance );
        distcell.appendChild(distText);
        var stop_row = document.getElementById('num_stops');
        var stopcell = stop_row.insertCell();
        var stopText = document.createTextNode(String(stops_2));
        stopcell.appendChild(stopText);
        var transfers_row = document.getElementById('num_transfers');
        var transferscell = transfers_row.insertCell();
        var transfersText = document.createTextNode(transfers);
        transferscell.appendChild(transfersText);
        var added_row = document.getElementById('added_station');
        var addedcell = added_row.insertCell();
        var addedText = document.createTextNode(added);
        addedcell.appendChild(addedText);
        if (dist === "false") {
            dist_div.style.display = "none";
        }
        if (trans === "false") {
            transfers_div.style.display = "none";
        }
        if (stops === "false") {
            stops_div.style.display = 'none';
        }
        
        if (percent == 0) {
            stats_div.style.display = 'none';
        }
        var distance_improvement_div = document.getElementById( 'distance_improvement');
        var percentText = document.createTextNode("+" + percent + "%");
        distance_improvement_div.appendChild(percentText);
        distance_improvement_div.style.width= percent + "%";
    </script>
</html>
